## Tools for solving genetic tasks based on Mendelian inheritance

## 1. Punnett Squares for di-, tri-, tetra-, n-hybrid crossing

Using: insert the genotype of one parent, then the second. Example: crossing('AaBb', 'AaBb'). Crossing function return graphical Punnett Squares.

In [9]:
import itertools
import seaborn as sns
import pandas as pd
import string
import numpy as np

def crossing(s1, s2):    
    unique_letters = set(s1)
    symbols = {}

    for char in unique_letters:
        if char.isupper(): 

            if char.lower() in unique_letters:
                symbols[char] = [char, char.lower()]
            else:
                symbols[char] = [char]  
        else:  
            if char.upper() not in unique_letters:
                symbols[char] = [char]  

    num_symbols = len(symbols)
    set1 = []
    for combination in itertools.product(*symbols.values()):

        combined = ''.join(combination)
        set1.append(combined)

    unique_letters = set(s2)
    symbols = {}

    for char in unique_letters:
        if char.isupper():  

            if char.lower() in unique_letters:
                symbols[char] = [char, char.lower()]
            else:
                symbols[char] = [char]  
        else: 
            if char.upper() not in unique_letters:
                symbols[char] = [char] 
                
    num_symbols = len(symbols)
    set2 = []
    for combination in itertools.product(*symbols.values()):

                combined = ''.join(combination)
                set2.append(combined)

    sort_order = {}
    for i in range(ord('A'), ord('Z') + 1):
            sort_order[chr(i)] = len(sort_order)  
            sort_order[chr(i).lower()] = len(sort_order)  

    result_df = pd.DataFrame(index=set1, columns=set2)

    for item1 in set1:
        for item2 in set2:
            combined = item1 + item2  
            sorted_combined = ''.join(sorted(combined, key=lambda x: sort_order[x])) 
            result_df.at[item1, item2] = sorted_combined  



    elements = pd.unique(result_df.values.ravel())
    color_dict = {}
    green_shades = sns.color_palette("Greens", n_colors=len(elements))

    green_shades_hex = ['#{:02x}{:02x}{:02x}'.format(int(r * 255), int(g * 255), int(b * 255)) for r, g, b in green_shades]

    for i, element in enumerate(elements):
        color_dict[element] = green_shades_hex[i % len(green_shades)]

    def color_cells(val):
        color = color_dict.get(val, '')  
        return f'background-color: {color}' if color else ''
    styled_df = result_df.style.applymap(color_cells)
    result = result_df.stack().value_counts()
    res = pd.DataFrame(result, columns=['amount'])

    return styled_df
    
crossing('AaBb', 'AaBb')

## 2. The ratio of genotypes (segregation) during crossbreeding

Using: insert the genotype of one parent, then the second. Example: amount('AaBb', 'AaBb'). Amount function return genotypes ratio table.

In [11]:

def amount(s1, s2):    
    unique_letters1 = set(s1)
    symbols1 = {}

    for char in unique_letters1:
        if char.isupper():  
            if char.lower() in unique_letters1:
                symbols1[char] = [char, char.lower()]
            else:
                symbols1[char] = [char]  
        else:  
            if char.upper() not in unique_letters1:
                symbols1[char] = [char]  

    set1 = []
    for combination in itertools.product(*symbols1.values()):
        combined = ''.join(combination)
        set1.append(combined)

    unique_letters2 = set(s2)
    symbols2 = {}

    for char in unique_letters2:
        if char.isupper():  

            if char.lower() in unique_letters2:
                symbols2[char] = [char, char.lower()]
            else:
                symbols2[char] = [char] 
        else:  
            if char.upper() not in unique_letters2:
                symbols2[char] = [char]  

    set2 = []
    for combination in itertools.product(*symbols2.values()):
        combined = ''.join(combination)
        set2.append(combined)

    sort_order = {}
    for i in range(ord('A'), ord('Z') + 1):
        sort_order[chr(i)] = len(sort_order)  
        sort_order[chr(i).lower()] = len(sort_order)  

    result_df = pd.DataFrame(index=set1, columns=set2)

    for item1 in set1:
        for item2 in set2:
            combined = item1 + item2  
            sorted_combined = ''.join(sorted(combined, key=lambda x: sort_order[x])) 
            result_df.at[item1, item2] = sorted_combined


    result = result_df.stack().value_counts()
    res = pd.DataFrame(result, columns=['Ratio of genotypes'])

    return res
 
amount("WwYy", "WwYy")

      Ratio of genotypes
WwYy                   4
WwYY                   2
WWYy                   2
wwYy                   2
Wwyy                   2
WWYY                   1
wwYY                   1
WWyy                   1
wwyy                   1